main{
    height: 100vh;
    width: 100vw;
    background-color: cadetblue;
    display: flex;
   
}
section{
display: flex;
background-color: rgb(95, 106, 128);
height: 90vh;
width: 40vw;
flex-direction:column;
margin: 5%;
justify-content: center;
align-items: center;
}
#nombre{
    margin: 1%;
    width: 50%;
    background-color: brown;
   
}
#gmail{
    margin: 1%;
    width: 50%;
    background-color: brown;
   
}
#telefono{
    margin: 1%;
    width: 50%;
    background-color: brown;
   
}
#fecha{
    margin: 1%;
    width: 50%;
    background-color: brown;
   
}
#ciudad{
    margin: 1%;
    width: 50%;
    background-color: brown;
   
}
#boton{
    margin: 10%;
    height: 5%;
    width: 50%;
    background-color: brown;
   
}

